<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/ServiceProvider.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Laravaolt Camunda Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_NAME" value="Laravolt Camunda Package"/>
        <env name="APP_ENV" value="test"/>
        <env name="CAMUNDA_URL" value="http://localhost:8080/engine-rest/"/>
    </php>

</phpunit>
